/*body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}*/

* {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
  padding: 20;
  display: flex;
  align-items: center;
  max-width: 500px;
  margin: 0 auto;
  border-bottom: 20px;
}

.navbar h1 {
  color: crimson;
}

.navbar .links{
  margin-left: auto
}

.navbar a {
  margin: 20px;
  text-decoration: none;
  padding: 0px;
}

.navbar a:hover {
  cursor: pointer;
  color: chocolate;
}

.Content {
  margin: 40px;
  max-width: 400px;
  padding: 40px;
}

.Content a{
  text-decoration: none;
  color: rgb(188, 176, 102);
}

.Content p {
  margin-left: 50px;
}


.home h2{
  padding-bottom: 10px;
  padding-left: 60px;
}

.app-preview {
  margin-bottom: 20px;
}

.app-preview p:hover {
  cursor: pointer;
  width: 100%;
  border: 2px solid transparent;
  color: rgb(159, 140, 32);
}
