/*GENERAL STYLE*/
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Courier New', Courier, monospace;
}

html {
    scroll-behavior: smooth;
}

p {
    color: gray;
}

/*TRANSITION*/

a,
.btn {
    transition: all 300ms ease;
}

/*DESKTOP NAV*/

nav, .nav-links {
    display: flex;
    list-style: none;
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}

.nav-links {
    gap: 2rem;
    font-size: 1.5rem;
}

a {
    color: black;
    text-decoration: none;
    text-decoration-color: wheat;
}

a:hover{
    color: grey;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(181, 181, 181);
}

.logo {
    font-size: 2rem;
}

.logo:hover {
    cursor: default;
}

/*HAMMBURGER MENU*/

#ham-nav {
    display: none;
}

.ham-menu {
    position: relative;
    display: inline-block;
}

.ham-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.ham-icon span {
    width: 100%;
    height: 2px;
    background-color: black;
    transition: all 0.3 ease-in-out;
}

.menu-links {
    position: absolute;
    top: 15%;
    right: 10%;
    background-color: white;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
}

.menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}

.menu-links li {
    list-style: none;
}

.menu-links.open {
    max-height: 300px;
}

.ham-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
}

.ham-icon.open span:nth-child(2) {
    opacity: 0;
}

.ham-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
}

.ham-icon span:first-child {
    transform: none;
}

.ham-icon span:first-child {
    opacity: 1;
}

.ham-icon span:first-child {
    transform: none;
}

/*SECTION*/

.section {
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

.section-container {
    display: flex;
}

/*PROFILE*/

#profile {
    display: flex;
    justify-content: center;
    padding-top: 10rem;
    gap: 5rem;
    height: 18vh;
}

.sec_pic {
    display: flex;
    margin: auto 0;
}

.sec_txt {
    align-self: center;
    text-align: center;
    padding-top: 150px;
}

.sec_txt p {
    font-weight: 600;
}

.sec_txt_p1, 
.sec_txt_p2 {
    text-align: center;
    font-size: 1.75rem;
    margin-bottom: 1rem;
}

.title {
    font-size: 3rem;
    text-align: center;
}

#social-cont {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

/*ICON*/

i {
    cursor: pointer;
    height: 2rem;
}

/*BUTTONS*/

.btn_container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn-1, 
.btn-2 {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
    border: rgb(53,53, 53) 0.1rem solid;
}

.btn-1:hover, 
.btn-2:hover {
    cursor: pointer;
}

.btn-1::before:hover, 
.btn-2::before:hover {
    background: rgb(53,53,53,);
}

.btn-1:hover {
    background: rgb(0, 0, 0);
    color: white;
}

.btn-2:hover {
    background: rgb(0, 0, 0);
    color: white;
}


.btn_container {
    gap: 1rem;
}

/*ABOUT SECTION*/
#about {
    position: relative;
}

.about-container {
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.details-container {
    justify-content: center;
    flex-direction: column;
}

.about-container, 
.details-container {
    display: flex;
}

.about-pic {
    border-radius: 2rem;
}
